#
# Copyright (c) 2024 IMD Technologies
#

[Unit]
Description=Mount environment partition to /env
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/opt/imdt/libubootenv/mount-env.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

