[Unit]
Description=Start USB Ethernet gadget using Config FS
Conflicts=storage-gadget-init.service

[Service]
RemainAfterExit=yes
ExecStart=bash /usr/bin/config_usb.sh

[Install]
WantedBy=multi-user.target
