#
# Copyright (c) 2021 IMD Technologies
#

[Unit]
Description=Video Stream from CSI2

[Service]
ExecStart=/opt/imdt/camera-demo/bin/camera2-stream.sh

